{
	"env": {
		"node": 1,
		"browser": 1,
		"jquery": 1
	},
	"rules": {
		"strict": 0,
		"curly": 0,
		"quotes": [1, "single"],
		"no-underscore-dangle": 0,
		"no-unused-vars": 2,
		"react/display-name": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1
	},
	"ecmaFeatures": {
		"blockBindings": 1,
		"classes": 1,
		"destructuring": 1,
    "forOf": 1,
		"spread": 1,
		"superInFunctions": 1,
		"templateStrings": 1,
    "jsx": 1
  },
	"plugins": [
    "react"
  ]
}
